@media (min-width:1200px) {

	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}

	/*=====================header====================*/
	.menu-wrap {
		display: none;
	}

	header {
		width: 1200px;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 888;
	}

	.logo {
		display: block;
		background-image: url(../icon/LOGO@2x.png);
		width: 245px;
		height: 80px;
	}

	.sugi {
		/*=====球======*/
		display: block;
		width: 500px;
		height: 500px;
		background-image: url(../img/tama_test@2x.png);
		background-repeat: no-repeat;
		margin-bottom: 120px;
		transition: .2s;
	}

	.sugi:hover {
		transform: rotate(180deg);
	}

	header li {
		display: inline-block;
		margin-left: 30px;
	}

	span.material-icons {
		color: black;
		font-size: 50px;
	}

	span.material-icons:hover {
		color: #39B44A;
		text-decoration: none;
	}

	/*===============主照+主選單==================*/

	main {
		background-color: rgba(0, 0, 0, .1);
		overflow: hidden;
	}

	.open {
		display: grid;
		grid-template-columns: 1115px 85px;
		grid-template-rows: 1fr;
	}

	#main_cut2 {
		display: block;
		grid-column: 1/3;
		grid-row: 1/2;
	}

	#main_cut {
		display: none;
		grid-column: 1/3;
		grid-row: 1/2;
		object-fit: cover;
	}

	.open nav {
		position: fixed;
		right: calc((100% - 1200px) / 2);
		z-index: 888;
		width: 85px;
		height: 520px;
		background-color: rgba(255, 255, 255, .8);
		border-radius: 20px 0 0 20px;
		padding-top: 15px;
		margin-top: 50px;
		grid-column: 2/3;
		grid-row: 1/2;
		align-self: center;
	}

	.open nav li a {
		display: block;
		width: 18px;
		height: 90px;
		margin-top: 30px;
		margin-bottom: 30px;
		padding-right: 90px;
		writing-mode: vertical-lr;
		text-decoration: none;
		font-size: 18px;
		word-spacing: 3px;
		color: black;
		position: relative;
		margin-left: 30px;

		/*color:#39B44A;*/
	}

	.open nav li a:before {
		content: "●";
		color: rgba(57, 180, 74, 0);
		position: absolute;
	}

	.open nav li a:hover:before {
		color: rgba(57, 180, 74, 1);
		animation: ball .5s linear infinite;
	}

	@keyframes ball {

		0% {
			top: -30px;
		}

		100% {
			top: -20px;
		}
	}

	.open .mouse {
		padding-top: 10px;
		padding-bottom: 30px;
		width: 100%;
		grid-column: 1/3;
	}

	.mouse img {
		display: block;
		margin: 0 auto;
	}

	.mouse h4 {
		font-size: 1.8em;
		color: rgba(0, 0, 0, .3);
		text-align: center;
	}

	/* ===============文章區==================== */
	article {
		width: 1200px;
		background-color: rgba(0, 0, 0, .1);
	}

	.rice {
		/* =====手&米===== */
		display: grid;
		grid-template-columns: calc(100% - 5.5em) 5.5em;
		grid-template-rows: 1fr;
	}

	.rice_content {
		grid-column: 1/3;
		grid-row: 1/2;
		position: relative;
	}

	.rice_content img {
		display: block;
		grid-column: 1/3;
		grid-row: 1/2;
	}

	.rice_content h1 {
		writing-mode: vertical-rl;
		font-size: 48px;
		text-decoration: none;
		color: rgba(70, 70, 70, .6);
		position: absolute;
		top: 20%;
		left: 20%;
	}

	.rice .mouse {
		padding-top: 10px;
		padding-bottom: 20px;
		width: 100%;
		grid-column: 1/3;
	}

	.rice.mouse img {
		display: block;
		margin: 0 auto;
	}

	.mouse h4 {
		font-size: 1.8em;
		color: rgba(0, 0, 0, .3);
		text-align: center;
	}

	.rice2 {
		/* ======米===== */
		width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.rice2_ph {
		display: flex;
		grid-column: 1/3;
		grid-row: 1/2;
		pointer-events: none;
		z-index: 1;

	}

	#rice2_L {
		width: 50%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}

	#rice2_R {
		width: 50%;
		height: 100%;
		object-fit: cover;
		pointer-events: none;
	}

	#rice2_txt {
		width: 100%;
		padding-top: 20px;
		grid-column: 1/3;
		grid-row: 1/2;
		padding-top: 150px;
		z-index: 0;
	}

	#rice2_txt h2 {
		text-align: center;
		font-size: 30px;
		color: rgba(0, 0, 0, .6);
	}

	#rice2_txt p {
		text-align: center;
		font-size: 22px;
		line-height: 40px;
		color: rgba(0, 0, 0, .5);
	}

	.rice2 .mouse {
		padding: 20px;
		width: 100%;
		grid-column: 1/3;
	}

	.mouse img {
		display: block;
		margin: 0 auto;
	}

	.mouse h4 {
		font-weight: 900;
		font-size: 1.8em;
		color: rgba(0, 0, 0, .3);
		text-align: center;
	}

	.water {
		/* =====富士山===== */
		display: grid;
		grid-template-columns: calc(100% - 5.5em) 5.5em;
		grid-template-rows: 1fr;
	}

	.water_content {
		grid-column: 1/3;
		grid-row: 1/2;
		position: relative;
	}

	.water_content img {
		display: block;
		grid-column: 1/3;
		grid-row: 1/2;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.water_content h1 {
		writing-mode: vertical-rl;
		font-size: 48px;
		color: white;
		text-shadow: black 0px 0px 3px;
		position: absolute;
		top: 20%;
		left: 20%;
	}

	.water .mouse {
		padding: 20px;
		width: 100%;
		grid-column: 1/3;
	}

	.mouse img {
		display: block;
		margin: 0 auto;
	}

	.mouse h4 {
		font-size: 1.8em;
		color: rgba(0, 0, 0, .3);
		text-align: center;
	}

	.water2 {
		/* =====水===== */
		width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
	}

	.water2_ph {
		display: flex;
		grid-column: 1/3;
		grid-row: 1/2;
		z-index: 1;
	}

	#wate2_L {
		width: 50%;
		height: 100%;
		object-fit: cover;
	}

	#water2_R {
		width: 50%;
		height: 100%;
		object-fit: cover;
	}

	#water2_txt {
		width: 100%;
		padding-top: 150px;
		grid-column: 1/3;
		grid-row: 1/2;
		z-index: 0;
	}

	#water2_txt h2 {
		text-align: center;
		font-size: 30px;
		color: rgba(0, 0, 0, .6);
	}

	#water2_txt p {
		text-align: center;
		font-size: 22px;
		line-height: 40px;
		color: rgba(0, 0, 0, .5);
	}

	.water2 .mouse {
		padding: 20px;
		width: 100%;
		grid-column: 1/3;
	}

	.mouse img {
		display: block;
		margin: 0 auto;
	}

	.mouse h4 {
		font-size: 1.8em;
		color: rgba(0, 0, 0, .3);
		text-align: center;
	}

	.product img {
		display: block;
		grid-column: 1/3;
		grid-row: 1/2;
	}

	/*=================footer ===================*/

	footer {
		width: 1200px;
		display: inline-flex;
		justify-content: space-between;
		padding-top: 20px;
	}

	footer p {
		color: rgba(0, 0, 0, .3);
		font-size: 22px;
		padding-left: 10px;
	}

	footer ul {
		padding-right: 10px;
	}

	footer li {
		display: inline-block;
		margin-left: 20px;
	}

	footer li a {
		display: block;
		width: 36px;
		height: 36px;
		background-image: url(../icon/socialmedia@2x.png);
	}

	footer a:hover {
		background-image: url(../icon/socialmedia_hover@2x.png);
	}

	.TB {
		background-position: -36px 0;
	}

	.IG {
		background-position: -72px 0;
	}

}