@import url("hamburger.css");

@media (max-width:575px){
html,body{
  line-height: 1.5;
}

.wrapper{
	width: 100%;
}

.mouse{
  display: none;
}
  
  /*=====================header====================*/
  header{
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    left: 0;
    top:0;
    z-index: 888;
  }

  .logo{
    display: none;
}

.sugi{
  /*=====球=======*/
  width: 60vw;
	height: 60vw;
	background-image: url(../img/sugi@2x.png);
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 85px;
	margin-left: 30px;
  }

  header li{
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
  }

  span.material-icons{
    color: black;
    font-size: 25px;
  }
    
  span.material-icons:hover{
    color: #39b44a;
    text-decoration: none;
  }

/*===============主照+主選單==================*/

main{
  width: 100%;
  background-color: rgba(0,0,0,.1);
  overflow: hidden; 
}

#main_cut2{
  display: block;
  height: 90vh;
  object-fit: cover;
}

#main_cut{
  display: none;
  height: 90vh;
  object-fit: cover;
  transform: translateX(-10%);
}

.open nav{
	display: none;
}

.open a{
  display: none;
}

/* ===============文章區==================== */

article{
  width: 100%;
  height:auto; 
}

.rice{      /* ====米1===== */
  background-image: url(../img/rice_bg@2x.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.rice_content img{
  display: none;
}

.rice_content h1{
  writing-mode: vertical-rl;
  font-size: 1.8em;
  color: rgba(70,70,70,.6);
  position: absolute;
  top:10%;
  left:20%;
}

/* ====米2===== */

#rice2_L{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rice2_R {
  display: none;
}

#rice2_txt h2{
  text-align: center;
  font-size: 1em;
  color: rgba(0,0,0,.6);
  padding-top: 30px;
  padding-bottom: 30px;
}

#rice2_txt p{
  text-align: center;
  font-size: 0.75em;
  line-height: 1.7em;
  color: rgba(0,0,0,.6);
  padding-bottom: 30px;
}

.water{   /* ====富士山水1===== */
  background-image: url(../img/fuji@2x.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.water_content img{
  display: none;
}

.water_content h1{
	writing-mode: vertical-rl;
	font-size: 1.8em;
	color: white;
	text-shadow: black  0px 0px  2px;
  position: absolute;
  top: 50%;
  left: 40%;
}

 /* ====富士山水2===== */


#water2_L{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#water2_R{
  display: none;
}

#water2_txt h2{
	text-align: center;
	font-size: 1em;
	color: rgba(0,0,0,.6);
	padding-top: 30px;
  padding-bottom: 30px;
}

#water2_txt p{
	text-align: center;
	font-size: 0.75em;
	line-height: 1.7em;
	color: rgba(0,0,0,.6);
  padding-bottom: 30px;
}

.product img{   /* ====成品===== */
  display: block;
  height: 70vh;
  object-fit: cover;
  transform: translateX(-40%);
}

/*=================footer ===================*/

footer{
	width: 100%;
	display: inline-flex;
	justify-content: space-between;
	padding-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
}

footer p{
	color: rgba(0,0,0,.3);
	font-size: 0.75em;
  padding-left: 20px;
}

footer li{
	display: inline-block;
	margin-left: 10px;
}

footer li a{
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(../icon/socialmedia.png);
  background-size: cover;
}

footer a:hover{
	background-image: url(../icon/socialmedia_hover.png);
}

.TB{background-position:-18px 0; }
.IG{background-position:-36px 0; }
}