@media (min-width:1200px) {

	.wrapper {
		width: 1200px;
		margin: 0 auto;
	}

	/*=======================header=======================*/
	/* hamburger */
	.menu-wrap {
		display: none;
	}

	/* hamburger */

	header {
		width: 1200px;
		height: 100px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		z-index: 888;
	}

	.logo {
		display: block;
		background-image: url(../icon/LOGO@2x.png);
		width: 245px;
		height: 80px;
	}

	.sugi {
		/*=====球==========*/
		width: 500px;
		height: 500px;
		background-image: url(../img/tama_test@2x.png);
		background-repeat: no-repeat;
		margin-bottom: 120px;
	}

	header li {
		display: inline-block;
		margin-left: 30px;
	}

	span.material-icons {
		color: black;
		font-size: 50px;
	}

	span.material-icons:hover {
		color: #39B44A;
		text-decoration: none;
	}

	/*====================主照+主選單=================*/

	main {
		width: 1200px;
		position: relative;
	}

	main img {
		display: block;
		width: 100%;
	}

	nav {
		position: absolute;
		right: calc((100% - 1200px) / 2);
		top: 0;
	}

	nav ul {
		width: 85px;
		height: 520px;
		background-color: rgba(255, 255, 255, .8);
		border-radius: 20px 0 0 20px;
		margin-top: 215px;
		padding-top: 15px;
		/*position: fixed;*/
	}

	nav li a {
		display: block;
		width: 18px;
		height: 90px;
		margin: 30px 30px;
		writing-mode: vertical-lr;
		text-decoration: none;
		font-size: 18px;
		word-spacing: 3px;
		color: black;
		position: relative;
		/*color:#39B44A;*/
	}

	nav li a:before {
		content: "●";
		color: rgba(57, 180, 74, 0);
		position: absolute;

	}

	nav li a:hover:before {
		color: rgba(57, 180, 74, 1);
		animation: ball .5s linear infinite;
	}

	@keyframes ball {

		0% {
			top: -30px;
		}

		100% {
			top: -20px;
		}
	}

	/*=========會員區==========*/
	form {
		width: 60%;
		margin: 200px auto;
		border-radius: 5px;
		position: absolute;
		left: calc((1200px - 60%) / 2);
		top: 0;
	}

	form p {
		width: 100%;
		height: 60px;
		line-height: 60px;
		text-decoration: none;
		font-size: 25px;
		color: white;
		/* background-color: black; */
		/* text-align: center; */
		/* border-radius: 5px; */
		margin: 20px auto;
	}

	form label {
		display: block;
		font-size: 16px;
		color: white;
		margin-top: 20px;
		padding-bottom: 5px;
	}

	form input {
		display: block;
		font-size: 16px;
		font-family: 'Noto Serif JP', serif, Garamond;
		width: 99%;
		height: 60px;
		border-radius: 5px;
		border: none;
	}

	.profile {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}


	form button {
		display: block;
		width: 150px;
		height: 45px;
		margin: 0 auto;
		border: none;
		font-size: 20px;
		font-family: 'Noto Serif JP', serif, Garamond;
		text-align: center;
		line-height: 45px;
		background-color: #9E0808;
		color: white;
		border-radius: 5px;
		margin-top: 30px;
	}

	form button:hover {
		background-color: black;
		cursor: pointer;
	}

	form a {
		display: block;
		width: 150px;
		height: 45px;
		margin: 0 auto;
		text-decoration: none;
		font-size: 20px;
		text-align: center;
		line-height: 45px;
		background-color: #9E0808;
		color: white;
		border-radius: 5px;
		margin-top: 30px;
	}

	form a:hover {
		background-color: black;
	}

	.name,
	.gender {
		width: 30%;
	}

	.name2,
	.birth {
		width: 60%;
	}

	.gender select {
		width: 100%;
		height: 60px;
		line-height: 60px;
		font-size: 16px;
		font-family: 'Noto Serif JP', serif, Garamond;
		border-radius: 5px;
	}

	/*========================footer=====================*/

	footer {
		width: 1200px;
		display: inline-flex;
		justify-content: space-between;
		padding-top: 20px;
	}

	footer p {
		color: rgba(0, 0, 0, .3);
		font-size: 22px;
	}

	footer li {
		display: inline-block;
		margin-left: 20px;
	}

	footer li a {
		display: block;
		width: 36px;
		height: 36px;
		background-image: url(../icon/socialmedia@2x.png);
	}

	footer a:hover {
		background-image: url(../icon/socialmedia_hover@2x.png);
	}

	.TB {
		background-position: -36px 0;
	}

	.IG {
		background-position: -72px 0;
	}

}